In [55]:
import numpy as np
import pandas as pd

In [57]:
df = pd.read_csv('students_placement - students_placement.csv')

In [59]:
df.shape

(300, 4)

In [61]:
df.sample(5)

     cgpa   iq  profile_score  placed
91   4.94  104             82       0
161  6.11  111             44       0
111  5.67  112             67       0
95   7.43   88             69       1
290  5.84  112             32       0

In [63]:
X = df.drop(columns=['placed'])
y = df['placed']

In [69]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y, test_size=0.2,random_state=2)

In [71]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

rf = RandomForestClassifier()

rf.fit(X_train,y_train)

y_pred = rf.predict(X_test)

accuracy_score(y_test,y_pred)

0.8833333333333333

In [79]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score

knn = KNeighborsClassifier(n_neighbors=5)

knn.fit(X_train,y_train)

y_pred = knn.predict(X_test)

accuracy_score(y_test,y_pred)

0.9

In [83]:
import pickle
pickle.dump(knn,open('model.pk1','wb'))